@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.risco-vermelho {
  background-color: #dc2626;
  color: white;
}

.risco-laranja {
  background-color: #ea580c;
  color: white;
}

.risco-amarelo {
  background-color: #ca8a04;
  color: white;
}

.risco-verde {
  background-color: #16a34a;
  color: white;
}

.risco-azul {
  background-color: #2563eb;
  color: white;
} 